body {
  margin: 0;
  padding: 0;
}

#products {
  height: 100vh;
  overflow-y: auto;
  padding: 2px;
}

body {
  /*overflow-y: hidden !important;*/
  background-color: #fff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
